body {
    text-align: center;
    background-image: url(./1wallpaperflare.com_wallpaper1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 10px;
}